<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285656052775-0u4vhcena0mbrmmq15buvknt29piikt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285656052775-0u4vhcena0mbrmmq15buvknt29piikt2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285656052775-0bkcad381r1bgcaobau009hdes230lnd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcdeHaCMWaeCCazgV0-Uk-0dF9cVF8WX4</string>
	<key>GCM_SENDER_ID</key>
	<string>285656052775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>care.gooday</string>
	<key>PROJECT_ID</key>
	<string>gooday-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gooday-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285656052775:ios:9581faef920f81a2f80a02</string>
</dict>
</plist>